.container {
  margin-top: 3rem;
  padding: 2rem;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fefefe;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.inputArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.analyzeButton {
  background-color: #7a5af5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.analyzeButton:hover {
  background-color: #5b3fee;
}
